RewriteEngine on
RewriteRule ^http://blog.dwlt.net/post/10240475009/bad-gamecity-no-biscuit$ http://www.dwlt.net/blog/2011/09/15/bad-gamecity-no-biscuit/ [R=301,L]
RewriteRule ^http://blog.dwlt.net/post/9369656584/happy-quarrel-day$ http://www.dwlt.net/blog/2011/08/25/happy-quarrel-day/ [R=301,L]
RewriteRule ^http://blog.dwlt.net/post/9032809555/sacrificing-ip$ http://www.dwlt.net/blog/2011/08/17/sacrificing-ip/ [R=301,L]
RewriteRule ^http://blog.dwlt.net/post/8171274578/are-game-makers-scared-of-crowdfunding$ http://www.dwlt.net/blog/2011/07/28/are-game-makers-scared-of-crowdfunding/ [R=301,L]
RewriteRule ^http://blog.dwlt.net/post/7651098572/what-it-takes$ http://www.dwlt.net/blog/2011/07/15/what-it-takes/ [R=301,L]
RewriteRule ^http://blog.dwlt.net/post/7533237926/the-only-thing-worse-than-being-talked-about$ http://www.dwlt.net/blog/2011/07/12/the-only-thing-worse-than-being-talked-about/ [R=301,L]
RewriteRule ^http://blog.dwlt.net/post/7339060664/australias-games-tax-credit$ http://www.dwlt.net/blog/2011/07/07/australias-games-tax-credit/ [R=301,L]
RewriteRule ^http://blog.dwlt.net/post/6831146974/ea-popcap$ http://www.dwlt.net/blog/2011/06/23/ea-popcap/ [R=301,L]
RewriteRule ^http://blog.dwlt.net/post/6532686377/teach-yourself-enough$ http://www.dwlt.net/blog/2011/06/14/teach-yourself-enough/ [R=301,L]
RewriteRule ^http://blog.dwlt.net/post/6073998926/the-business-of-art$ http://www.dwlt.net/blog/2011/06/01/the-business-of-art/ [R=301,L]
RewriteRule ^http://blog.dwlt.net/post/5861324613/innovative-consumption$ http://www.dwlt.net/blog/2011/05/26/innovative-consumption/ [R=301,L]
RewriteRule ^http://blog.dwlt.net/post/5768044225/popcaps-hidden-gems$ http://www.dwlt.net/blog/2011/05/23/popcaps-hidden-gems/ [R=301,L]
RewriteRule ^http://blog.dwlt.net/post/4364049515/making-toys$ http://www.dwlt.net/blog/2011/04/05/making-toys/ [R=301,L]
RewriteRule ^http://blog.dwlt.net/post/4025617110/on-tax-breaks$ http://www.dwlt.net/blog/2011/03/22/on-tax-breaks/ [R=301,L]
RewriteRule ^http://blog.dwlt.net/post/3502385798/reading-watching$ http://www.dwlt.net/blog/2011/02/25/readingwatching/ [R=301,L]
RewriteRule ^http://blog.dwlt.net/post/3055702755/on-popcaps-ipo$ http://www.dwlt.net/blog/2011/02/01/on-popcaps-ipo/ [R=301,L]
RewriteRule ^http://blog.dwlt.net/post/2840440256/of-creativity-and-counterfeits$ http://www.dwlt.net/blog/2011/01/20/of-creativity-and-counterfeits/ [R=301,L]
RewriteRule ^http://blog.dwlt.net/post/2686379764/90-of-the-work$ http://www.dwlt.net/blog/2011/01/10/90-of-the-work/ [R=301,L]
RewriteRule ^http://blog.dwlt.net/post/2416498529/attention-to-detail-like-most-facets-of-truly$ http://www.dwlt.net/blog/2010/12/22/attention-to-detail/ [R=301,L]
RewriteRule ^http://blog.dwlt.net/post/2348330602/miyamoto-profiled-in-the-new-yorker$ http://www.dwlt.net/blog/2010/12/17/miyamoto-profiled-in-the-new-yorker/ [R=301,L]
RewriteRule ^http://blog.dwlt.net/post/2153497964/iteration-on-toy-story-3$ http://www.dwlt.net/blog/2010/12/09/iteration/ [R=301,L]
RewriteRule ^http://blog.dwlt.net/post/1684435912/hiya-the-gary-tank-commander-app$ http://www.dwlt.net/blog/2010/11/25/hiya-the-gary-tank-commander-app/ [R=301,L]
RewriteRule ^http://blog.dwlt.net/post/1611909083/angry-birds-fragmentation$ http://www.dwlt.net/blog/2010/11/18/angry-birds-fragmentation/ [R=301,L]
RewriteRule ^http://blog.dwlt.net/post/1422620453/our-real-world-has-tremendous-biodiversity-we$ http://www.dwlt.net/blog/2010/10/28/biodiversity-in-games/ [R=301,L]
RewriteRule ^http://blog.dwlt.net/post/1372923334/there-have-been-widespread-claims-that$ http://www.dwlt.net/blog/2010/10/22/no-basis-in-reality/ [R=301,L]
RewriteRule ^http://blog.dwlt.net/post/1312103599/recent-round-up$ http://www.dwlt.net/blog/2010/10/14/recent-round-up/ [R=301,L]
RewriteRule ^http://blog.dwlt.net/post/1221062996/silicon-valley-in-scotland$ http://www.dwlt.net/blog/2010/10/01/silicon-valley-in-scotland/ [R=301,L]
RewriteRule ^http://blog.dwlt.net/post/1203702433/no-limit-for-better$ http://www.dwlt.net/blog/2010/09/28/no-limit-for-better/ [R=301,L]
RewriteRule ^http://blog.dwlt.net/post/1158766558/scale-of-the-problem$ http://www.dwlt.net/blog/2010/09/21/the-scale-of-the-problem/ [R=301,L]
RewriteRule ^http://blog.dwlt.net/post/1119920979/scottish-games-in-transition$ http://www.dwlt.net/blog/2010/09/14/in-transition/ [R=301,L]
RewriteRule ^http://blog.dwlt.net/post/1113476005/under-the-new-way-of-doing-things-youre-a-chief$ http://www.dwlt.net/blog/2010/09/13/the-new-way/ [R=301,L]
RewriteRule ^http://blog.dwlt.net/post/1097562149/these-are-non-refundable-tax-credits-so-you-get$ http://www.dwlt.net/blog/2010/09/10/quote-of-the-week/ [R=301,L]
RewriteRule ^http://blog.dwlt.net/post/972075293/popcap-on-games-you-happen-to-play-on-facebook$ http://www.dwlt.net/blog/2010/08/18/popcap-on-games-you-happen-to-play-on-facebook/ [R=301,L]
RewriteRule ^http://blog.dwlt.net/post/944042206/a-game-is-a-game-is-a-refrain$ http://www.dwlt.net/blog/2010/08/12/a-game-is-a-game-is-a-game/ [R=301,L]
RewriteRule ^http://blog.dwlt.net/post/927829317/the-end-in-mind$ http://www.dwlt.net/blog/2010/08/09/start-with-a-vision/ [R=301,L]
RewriteRule ^http://blog.dwlt.net/post/869920599/regarding-lonelysandwich$ http://www.dwlt.net/blog/2010/07/28/regarding-lonelysandwich/ [R=301,L]
RewriteRule ^http://blog.dwlt.net/post/803651482/5-things-july-2010$ http://www.dwlt.net/blog/2010/07/12/5-things-im-thinking-right-now/ [R=301,L]
RewriteRule ^http://blog.dwlt.net/post/722133240/in-a-sense-the-process-reflects-miyamotos$ http://www.dwlt.net/blog/2010/06/21/start-with-the-point/ [R=301,L]
RewriteRule ^http://blog.dwlt.net/post/573068736/produce-and-invest$ http://www.dwlt.net/blog/2010/05/05/produce-and-invest/ [R=301,L]
RewriteRule ^http://blog.dwlt.net/post/559219085/on-leaving-denki$ http://www.dwlt.net/blog/2010/04/29/on-leaving-denki/ [R=301,L]
RewriteRule ^http://blog.dwlt.net/post/332928477/toys-are-us$ http://www.dwlt.net/blog/2010/01/13/toys-are-us/ [R=301,L]
RewriteRule ^http://blog.dwlt.net/post/321324385/what-matters-is-not-the-perception-nor-the$ http://www.dwlt.net/blog/2010/01/07/what-matters/ [R=301,L]
RewriteRule ^http://blog.dwlt.net/post/279201598/but-if-the-writing-cant-be-made-as-good-as-it-is$ http://www.dwlt.net/blog/2009/12/11/made-as-good/ [R=301,L]
RewriteRule ^http://blog.dwlt.net/post/267984234/on-conspicuous-compassion$ http://www.dwlt.net/blog/2009/12/03/on-conspicuous-compassion/ [R=301,L]
RewriteRule ^http://blog.dwlt.net/post/212750464/dont-talk-about-art$ http://www.dwlt.net/blog/2009/10/14/art-isnt-work/ [R=301,L]
RewriteRule ^http://blog.dwlt.net/post/211032601/video-editing-lessons$ http://www.dwlt.net/blog/2009/10/12/video-editing-lessons/ [R=301,L]
RewriteRule ^http://blog.dwlt.net/post/205864066/roll-up-your-sleeves$ http://www.dwlt.net/blog/2009/10/06/roll-up-your-sleeves/ [R=301,L]
RewriteRule ^http://blog.dwlt.net/post/202585914/hitrecordjoe-yawninglily-dollfacedlynne-via$ http://www.dwlt.net/blog/2009/10/02/practice-art/ [R=301,L]
RewriteRule ^http://blog.dwlt.net/post/201954406/any-opportunity-to-work-professionally-making$ http://www.dwlt.net/blog/2009/10/01/any-opportunity/ [R=301,L]
RewriteRule ^http://blog.dwlt.net/post/200136115/indexed-blog-archive-deadlines$ http://www.dwlt.net/blog/2009/09/29/indexed-blog-archive-deadlines/ [R=301,L]
RewriteRule ^http://blog.dwlt.net/post/200135413/wikipedia-kurt-vonnegut$ http://www.dwlt.net/blog/2009/09/29/wikipedia-kurt-vonnegut/ [R=301,L]
RewriteRule ^http://blog.dwlt.net/post/199227031/what-i-learned-again-this-weekend$ http://www.dwlt.net/blog/2009/09/28/what-i-learned-again-this-weekend/ [R=301,L]
RewriteRule ^http://blog.dwlt.net/post/194215101/do-want$ http://www.dwlt.net/blog/2009/09/22/lego-motorized-walking-at-at/ [R=301,L]
RewriteRule ^http://blog.dwlt.net/post/193526221/friend-request$ http://www.dwlt.net/blog/2009/09/21/ignore-everybody-especially-yourself/ [R=301,L]
RewriteRule ^http://blog.dwlt.net/post/193313755/ignore-everybody-especially-yourself$ http://www.dwlt.net/blog/2009/09/21/friend-request/ [R=301,L]
RewriteRule ^http://blog.dwlt.net/post/191455983/theres-a-great-story-about-pablo-picasso-some$ http://www.dwlt.net/blog/2009/09/19/picasso/ [R=301,L]
RewriteRule ^http://blog.dwlt.net/post/191122897/people-look-without-seeing-hear-without$ http://www.dwlt.net/blog/2009/09/18/the-senses/ [R=301,L]
RewriteRule ^http://blog.dwlt.net/post/190294983/13-writing-tips-by-chuck-palahniuk$ http://www.dwlt.net/blog/2009/09/17/13-writing-tips-by-chuck-palahniuk/ [R=301,L]
RewriteRule ^http://blog.dwlt.net/post/189671216/in-1960-there-was-a-great-book-called-the-making$ http://www.dwlt.net/blog/2009/09/16/allow-me-to-introduce-myself/ [R=301,L]
RewriteRule ^http://blog.dwlt.net/post/189230478/w-hile-its-undeniably-the-richest-of-first-world$ http://www.dwlt.net/blog/2009/09/16/first-world-problem/ [R=301,L]
RewriteRule ^http://blog.dwlt.net/post/188482288/via-www-toothpastefordinner-com$ http://www.dwlt.net/blog/2009/09/15/how-are-websites-made/ [R=301,L]
RewriteRule ^http://blog.dwlt.net/post/187639086/via-editrix-typepad-com$ http://www.dwlt.net/blog/2009/09/14/verbing/ [R=301,L]
RewriteRule ^http://blog.dwlt.net/post/183601264/the-creative-process-revealed$ http://www.dwlt.net/blog/2009/09/09/the-creative-process/ [R=301,L]
RewriteRule ^http://blog.dwlt.net/post/182821636/all-about-doers$ http://www.dwlt.net/blog/2009/09/08/all-about-doers/ [R=301,L]
RewriteRule ^http://blog.dwlt.net/post/182818234/if-theres-one-thing-ive-learned-about-living-a$ http://www.dwlt.net/blog/2009/09/08/one-thing/ [R=301,L]
